<% if @coin.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@coin.errors.count, "error") %> prohibited this coin from being saved:</h2>

    <ul>
    <% @coin.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>